body {
  background-color: #fff;
  height: 100vh;
}

nav {
  height: 6vh;
  width: 100%;
  background-color: black;
}

.to-do-container {
  width: 50%;
  box-shadow: 8px 10px 20px grey;
  margin: 10% auto;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header p {
  margin-right: 64%;
}

#to-do-list > div,
.tdo-item,
.active {
  position: relative;
  display: grid;
  gap: 4%;
  height: 50px;
  grid-template-columns: 15px auto 15px;
  align-items: center;
  width: 99%;
  margin: auto;
  border-bottom: solid #ddd 1px;
}

.tdo-item input::placeholder {
  font-style: italic;
}

.tdo-item input[type="button"] {
  background-color: inherit;
  margin-left: 4%;
  grid-column: 2 / span 1;
  text-align: left;
  height: 100%;
  width: 90%;
}

.tdo-item input {
  grid-column: 1/4;
  border: none;
  height: 100%;
  background-color: inherit;
}

.active input {
  border: none;
}

.tdo-item input:focus {
  outline: none;
  margin-left: 4%;
  grid-column: 2 / span 1;
  text-align: left;
  height: 100%;
  width: 90%;
}

.active input:focus {
  height: 48px;
  width: 80%;
  background-color: inherit;
  outline: none;
}

#to-do-list .tdo-item > input {
  margin-left: 4%;
  grid-column: 2 / span 1;
  text-align: left;
  height: 100%;
  width: 90%;
}

.last-row {
  background-color: #f6f6f6;
  height: 50px;
  display: flex;
}

.last-row p {
  margin: auto;
}

.before {
  border: solid 3px grey;
  width: 14px;
  height: 14px;
}

.before:hover {
  cursor: pointer;
}

.completed {
  text-decoration: line-through;
}

footer {
  height: 6vh;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: black;
}

.active {
  background-color: #fdf7e2;
}

.fa-ellipsis-vertical {
  display: flex;
}

.fa-ellipsis-vertical:hover {
  cursor: move;
}

.active .fa-ellipsis-vertical {
  display: none;
}

.fa-trash-can {
  display: none;
}

.active .fa-trash-can {
  display: flex;
}

.icon-container {
  position: relative;
}

.fa-solid {
  position: absolute;
  top: 0;
  left: 0;
}
